<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="navigation.css">
        <link rel="stylesheet" href="ProfileManager.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navigation-bar">
            <p class="manager">Manager</p>
            <div class="manager-navigation-button">
                <button class="buttons">VIEW PROFILE</button>
                <button class="buttons">SCHEDULE INSPECTION</button>
                <button class="buttons">LICENSE APPROVAL</button>
                <button class="buttons">MANAGE FINES AND LICENSE SUSPENSION</button>
            </div>
        </div>
        <div class="main-body">
            <div class="header">
                <img class="jata" src="th.png">
                <p class ="title">Hawkers Licensing System</p>
            </div>
            <div class="body">
                {% block content %}
	            {% endblock %}
    </body>
</html>